body {
    margin: 0px;
}
a {
    text-decoration: none;
    color: rgb(63, 63, 63);
}
li {
    list-style: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(89, 173, 252);
    padding: 15px;
}
.header-menu {
    display: flex;
    gap: 20px;
}
.strong-title {
    display: flex;
    justify-content: center;
    background-color: rgb(163, 124, 227);
}
.title {
    display: flex;
    flex-direction: column;
}
.img1 {
    display: flex;
    justify-content: center;
    align-items: center;
}