body {
    margin: 0px;
}
section {
    width: 100%;
    padding: 15px 0px;
}
a {
    text-decoration: none;
    color: aliceblue;
}
li {
    list-style: none;
}
.s1 {
    background-color: rgb(0, 82, 82);
}
.s2 {
    background-color: rgb(49, 195, 195);
    padding-bottom: 70px;
}
.s4 {
    background-color: rgb(210, 210, 210);
}
.s5 {
    padding: 30px 0px;
}
.s6 {
    background-color: aqua;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1070px;
    padding: 0 40px;
}
.header-menu {
    display: flex;
    gap: 20px;
}
.strong-title {
    display: flex;
    max-width: 1070px;
    padding: 0 40px;
    margin: 0 auto;
    justify-content: center;
}
.strong-title > * {
    flex: 1 1 0;
}
.img1 {
    min-width: 150px;
    min-height: 100px;
    object-fit: cover;
}
.title {
    min-width: 150px;
}
.b1 {
    background-color:rgb(0, 107, 107);
    color: azure;
    border: 0;
    border-radius: 4px;
    height: 40px;
    width: 90px;
}
.info-block {
    display: flex;
    flex-direction: column;
    max-width: 1070px;
    padding: 0 40px;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
h2 {
    text-align: center;
}
.card {
    display: flex;
    flex-direction: column;
    
}
.phplace {
    display: block;
    box-sizing: border-box;
    background-color:rgb(135, 232, 232);
    width: 150px;
    height: 150px;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid rgb(0, 172, 172);
    border-radius: 15px;
}
.card p {
    text-align: center;
}
.thank-block {
    display: ;
    max-width: 800px;
    padding: 0 40px;
    margin: 0 auto;
}
.thank-block .p2 {
    text-align: end;
    font-weight: bold;
}