body {
    margin: 0px;
}
section {
    width: 100%;
    padding: 15px 0px;
    background-color: aqua;
}
a {
    text-decoration: none;
    color: rgb(63, 63, 63);
}
li {
    list-style: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 40px;
}
.header-menu {
    display: flex;
    gap: 20px;
}
